{% extends 'layout.html' %}
{% block body %}
<div class="topnav">
    <a id="download" href="/../" class="btn btn-danger">MainPage - Contacts</a>
    <a id="download" href="/../product/" class="btn btn-danger">Products</a>
    <a id="download" href="/../purchase/" class="btn btn-danger">Purchases</a>
</div>

<div class="wrapper">
    <div class="footer">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>New Product</h2>
        <form class="info_form"action="../product/add_product/" method="POST">
            <input type="text" name="name" placeholder="Product Name">
            <input type="text" name="description" placeholder="Description">
            <input type="text" name="price" placeholder="Price">
            <input type="text" name="quantity" placeholder="Quantity/Stock">
        
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="usertable">
        <h2>Products Table</h2>
        <table>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Operations</th>
            </tr>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a href = "/product/edit/{{ product.product_id }}">Edit</a>
                        <a href = "/product/delete/{{ product.product_id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
